body{ 
    background: black;
    /* background-image: url('https://gw.bootcampcontent.com/GW-Coding-Boot-Camp/GWARL201811FSF5/raw/master/03-javascript/02-Homework/Instructions/Images/2-WordGuess.jpg'); */
    background-image: url('https://upload.wikimedia.org/wikipedia/en/thumb/7/71/Pro_Football_Hall_of_Fame_logo.svg/1200px-Pro_Football_Hall_of_Fame_logo.svg.png');
    background-repeat: no-repeat;
    background-size: 50%; 
}
.main-section{
    float: right;
    margin-top: 10%;
    margin-left: 55%;
    border-style: dashed;
    border-color: white;
    text-align: center;
    width: 45%;
    
}
p{
    color: white;
    padding: 2% ;
}
h3{
    color: white;
    padding: 2%;
}
#current-word, #wins, #guesses-remaining, #guessed-letters{
    font-size: 1.5em;
    color: white;


}
    



