body{ 
    background: black;
    background-image: url('https://gw.bootcampcontent.com/GW-Coding-Boot-Camp/GWARL201811FSF5/raw/master/03-javascript/02-Homework/Instructions/Images/2-WordGuess.jpg');
     background-repeat: no-repeat;
    background-size: 100%; 
}
.main-section{
    float: right;
    margin-top: 35%;
    margin-left: 50%;
    border-style: dashed;
    border-color: white;
    text-align: center;
    width: 45%;
    
}
p{
    color: white;
    padding: 2% ;
}
h3{
    color: white;
    padding: 2%;
}
#current-word, #wins, #guesses-remaining, #guessed-letters{
    font-size: 1.5em;
    color: white;


}
    



